.bnb__header{
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bnb__header img{
    width: 85px;
}

.bnb__header__nav{
    width: 80%;
    margin-left: 10px;
    
}

.bnb__header__nav__container{
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    
}

.search__input{
    font-size: 14px;
    width: 80%;
    border-right: 1px solid #f2f2f2 ;
    font-weight: 400;
    font-family: Mulish; 
}

.search__input{
    border:0;
    border-right: 1px solid #f2f2f2 ;
    outline: none;
    color: #333;
   
}



.guest::placeholder{
    color: #BDBDBD ;
}

.bnb__header__nav__container button{
    width: 18%;
    background-color: transparent;
    cursor: pointer;
    color: rgba(235, 87, 87, .90);
    
}

.nav__form__active{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #FFF;
    padding: 5px;
    gap: 2px ;
}

.nav__form__active form{
    width: 85%;
    margin:20px auto;
}




@media screen and (min-width:768px) {
    .bnb__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .bnb__header img{
        width: 85px;
        height: 20px;
    }
    .bnb__header__nav{
        width: 40%;
        margin: 0 15px;
    } 
}

@media screen and (min-width:1024px) {
    
    .bnb__header img{
        width: 100px;
        height: 20px;
    }

    .bnb__header__nav{
        width: 23%;
    }
}